# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Database
db.sqlite3
db.sqlite3-journal

# Static/Media
/static/
/media/

# OS/IDE
.DS_Store
.vscode/
.idea/

# Logs
*.log